anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
cloudpickle
colorama
comm
contourpy
coverage
cycler
debugpy
decorator
defusedxml
executing
fastjsonschema
flake8
fonttools
fqdn
h11
httpcore
httpx
idna
imbalanced-learn
iniconfig
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isoduration
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
lark
lightgbm
llvmlite
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numba
numpy
packaging
pandas
pandocfilters
parso
pillow
platformdirs
pluggy
prometheus_client
prompt_toolkit
psutil
pure_eval
pycodestyle
pycparser
pyflakes
Pygments
pyparsing
pytest
pytest-cov
python-dateutil
python-dotenv
python-json-logger
pywinpty; sys_platform == "win32"
PyYAML
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rpds-py
scikit-learn
scipy
seaborn
Send2Trash
setuptools
shap
six
sklearn-compat
slicer
soupsieve
stack-data
terminado
threadpoolctl
tinycss2
tornado
tqdm
traitlets
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
xgboost